{% extends 'layouts/base.html.twig' %}

{% block title 'New Pin' %}

{% block body %}

    <h1>Create Pins</h1>

    {{ include('/layouts/partials/_form.html.twig', {'submitButtonText':'Create Pin'})}}

{% endblock %}